.navbar-brand {
    font-size: 1.5rem; // Tamaño de fuente para la marca

    span {
        color: #ff6347; // Cambia este color al que desees
        font-weight: bold; // Opcional: hace que el texto en el span sea más grueso
    }
}